
/* For tutorial only*/

/*This is badly named and should be called hedgeem_single_seat_container */
#Player_Info
{
    background-color: pink;
    border-radius: 10px;
    border-width: 1px;
    font-size: 10pt;
    height: 450px;
    margin: auto;
    padding: 0;
    position: relative;
    top: 10px;
    width: 100%;
    z-index: 20; /*     height: 107px;     background-color: cyan;     */
}

.hedgeem_seat_container
{
    background: url(/resources/backgrounds/seat_background_1.png);
    background-repeat: no-repeat;
    position: relative;
    display: block; /*float:left;     //top: 0%;  //background-color: gold;     //left: 0%;*/

    width: 100%;
    margin: 10%, 5%, 0%, 15%;
    padding: 0% 0% 0% 0%;
    z-index: 30;
}


.player_image img
{
    height: 50px;
    width: 50px;
    padding: 6px;
}

.player_image
{
    border: 0 solid #654321;
    left: 0;
    margin: 5% 5% 5% 0;
    padding: 0;
    position: relative;
    top: 8%;
    width: 60px; /* Change 0deg to 90deg later when developing for ETG      //transform:rotate(0deg); 	//-ms-transform:rotate(0deg); /* IE 9 */ /*webkit-transform:rotate(0deg); /* Safari and Chrome */
}

.player_balance
{
    color: Yellow;
    font-size: 100%;
    height: 20%;
    left: 13%;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 33%; /*     background-color: green;     */
}
.player_name
{
    color: red;
    float: left;
    font-size: 100%;
    left: 15%;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 75%;
    width: 50px;
}
.chip_image
{
    float: left;
    left: 11%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 62%;
    width: 5%;
    z-index: 99;
}

.hand_payout_total_container
{
    color: pink;
    float: left;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 50%;
}

.total_bet_label
{
    color: darkblue;
    float: left;
    font-size: 100%;
    padding: 0;
    float: left;
    position: relative;
    text-align: left; /*top: 12px;     //display: none;      //margin-left: 26px;     //background-color: cyan;*/
    color: black;
    width: 90%;
    margin: 0% 5% 0% 5%;
}

.total_bet_amount
{
    color: deeppink;
    float: left;
    font-size: 100%;
    padding: 0;
    float: left;
    position: absolute;
    text-align: left;
    top: 0%;
    left: 0%; /*display: none;     //background-color: chocolate;*/
    color: black;
    width: 40%;
    margin: 0% 5% 0% 55%;
}

.hand_payouts_container
{
    color: black;
    float: left;
    font-size: 100%;
    left: 0;
    margin: 0 5%;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 200%;
    width: 90%;
}

.hand_payout_container
{
    position: relative;
    color: blue;
    float: left;
    font-size: 100%;
    padding: 0;
    float: left;
    text-align: center;
    top: 5%;
    left: 0%; /*display: none;     //background-color: olive;       //margin-left: 26px;*/
    color: darkgoldenrod;
    width: 90%;
    margin: 0% 5% 0% 5%;
}


.hand_payout_label
{
    position: relative;
    color: blue;
    float: left;
    font-size: 100%;
    padding: 0;
    text-align: center;
    color: navy; /*top: 12px;         //margin-left: 26px;     //display: none;     //background-color: Orange;        //width: 50px*/
}


.hand_payout_value
{
    color: blue;
    float: left;
    font-size: 100%;
    margin-left: 5%;
    padding: 0;
    float: left;
    position: relative;
    text-align: center;
    color: black; /*top: 12px;     //display: none;     //background-color: red;         //width: 50px*/
}




