/*
    Filename: hedgeem_hand.css
    Last Edit: Simon Hewins, 7th Mar 2016
    Theme: Retro
    All Hand panels that are display are displayed in a container so you can re-position all of them
    left, right, up or down etc with one CSS change.
*/
#hand_panels_container
{
 
   /* height: auto;
    margin: 0 0%;
    padding: 0;
    position: absolute;
    top:42%;
    width: 100%;
	left:4%;
    z-index: 20;*/
	
	height: auto;
    left: 0;
    margin: 0 15% 0 15%;
    padding: 0;
    position: absolute;
    top: 54%;
    width: 100%;
    z-index: 20;
    zoom:0.55;
    -moz-transform:scale(0.55);
    -moz-transform-origin: 0 0;
    /*
     background-color: lawngreen;
    */
}

.hedgeem_control_hand_panel
{

    height: 140px;
    display: inline-block;
    left: 0;
    margin: 0 7% 0 7%;
    padding: 0;
    position: relative;
    top:0%;
    width: 86%;
    z-index: 20;
    /*
    background-color: purple;
    border-style: solid;
    border-width: 0px;
    background-image:url('resources/hand_indicator_backgroud.png');
    background-size:100% 100%;
    background-repeat:no-repeat;
    background-position:0% 0%;
    right:0px;    border-collapse: collapse;    
    */
}

/*
 ID:   hedgeem_control_hand_panel_hand_1
 Only use this to override hand_panels_container
 Done here to 'offset' the top position of the
 hand panel to make it appear the HAND is dealt in 
 semi-circle to follow line of table
#hedgeem_control_hand_panel_hand_0 {
    left: 20%;
}#hedgeem_control_hand_panel_hand_1 {
    left: 25%;
}#hedgeem_control_hand_panel_hand_2 {
    left: 30%;
}
#hedgeem_control_hand_panel_hand_3 {
    left: 40%;
}*/


.auto_div_hand_id_class
{
    /*float:left;
    height: 100%;
    width: 20%;
    margin: 0% 2.4% 0% 2.4%;*/
	
	
	float: left;
    height: 100%;
    margin: 0 0;
    padding-left: 0%;
    width: 25%;
	
	

    
}



/*
 ID:  auto_div_hand1 or hedgeem_control_hand_panel_hand_1
 Only use this to override hand_panels_container
 Done here to 'offset' the top position of the
 hand panel to make it appear the HAND is dealt in 
 semi-circle to follow line of table
*/

/*
#auto_div_hand_id1
{
    float:left;
    margin-top: 7%;
    //background-color: Silver;
}

#auto_div_hand_id2
{
    float:left;
    margin-top: 7%;
}*/






.dead_opacity
{   
    -moz-opacity: 0.3;
    opacity: .30;
    filter: alpha(opacity=30);
}


#status_icons_container 
{
    position: absolute;
    float: left;
    top:45px;
    left: 0px;
    margin: 0% 5% 0% 5%;
    //padding: 5%;
    padding: 5px;
    margin-top: 5px;
    height: 30px;
    width: 90%;
    
    padding: 0px;
    z-index: 20; 
    /*    
    border-style: solid;
    border-width: 1px;
    background-color: cyan;
    right:0px;    
    border-collapse: collapse;    
    */
}

.hedgeem_control_hand_panel:hover .card_left img{box-shadow:-3px -4px 4px yellow;}
.hedgeem_control_hand_panel:hover .card_right img{box-shadow:3px -4px 3px yellow;}

.hedgeem_control_hand_panel:hover .dead_opacity .card_left img{box-shadow:none;}
.hedgeem_control_hand_panel:hover .dead_opacity .card_right img{box-shadow:none;}

 
.hand_status_icon
{
    position: relative;
    /*background-color:orange; */
    top:0px;
    left: 0px;
    float: left;
    margin: 0px 0px 0px -10px;
    z-index: 3;
}
.icon_favourite
{
     /*Do not use this unless you specifcally need to style the 'favorite' icon
     See style 'hand_status_icon' that applies to all status icons */
}

.icon_cant_lose
{
     /*Do not use this unless you specifcally need to style the 'favorite' icon
     See style 'hand_status_icon' that applies to all status icons */
    //display:none;
}

.icon_best_value
{
     /*Do not use this unless you specifcally need to style the 'favorite' icon
     See style 'hand_status_icon' that applies to all status icons */
    //display:none;
}


.icon_winner
{
    top: 25%;
    height: 26%;
    width: 100%;
    float: left;
    margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
    z-index: 80;
    color: White;
    position: absolute;
    background-image:url('/resources/icons/icon_winning_hand_indicator1.png');
    background-size: 100%;
    background-repeat:no-repeat;
    background-position:0% 0% 0% 0%;
    /*
    background-color:orange;
    float: left; 
    margin: 0px 0px 0px 0px;
    padding: 45px 0px 0px 0px;
    z-index: 3;
    position: absolute;
    */
}

.icon_dead
{
    top: 25%;
    height: 100%;
    width: 100%;
    float: left;
    margin: 0px 0px 0px 0%;
    padding: 0px 0px 0px 0%;
    z-index: 80;
    position: absolute;
    background-image:url('/resources/icons/icon_dead_hand_indicator.png');
    background-size: 100%;
    background-repeat:no-repeat;
    background-position:0% 0% 0% 0%;
    /*
    background-color:orange;
    */
    
}


.hedgeem_control_hand_panel_info_background
{
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
    width: 98%;
    position:absolute;
    top: 80%;
    height:40%;
	margin: 0% 0% 0% 0%;
    padding: 0px;
    z-index: 4;
    color: yellow; 
  /*   background-image:url('/resources/backgrounds/hand_indicator_backgroud.png');
    background-size:100% 100%;
   background-repeat:no-repeat;
    background-position:0% 0% 0% 0%;*/
	
	background-color: #010122;
    /*background-image: linear-gradient(to bottom, #2f7f0c 0%, #235c0a 100%);*/
    //box-shadow: 0 1px 0 0 #2f7f0c inset;
    /*
    background-color:orange;
    */
   
}

.hedgeem_control_hand_panel:hover .hedgeem_control_hand_panel_info_background{-moz-box-shadow:1px 0px 4px yellow;
	-webkit-box-shadow: 1px 0px 4px yellow;
        box-shadow:1px 0px 4px yellow;}

.payoutdescription
{
    position: absolute;
    top: 10%;
    height: 50%;
    width:100%;
    padding: 0%;
    margin: 0% 0% 0% 0%;
    text-align: center;
    font-size:12pt;
    font-weight:bold;
    color: #fff;
	cursor:pointer;
    /*
    background-color: cyan;
    */
}

.payoutvalue
{
    position: absolute;
    height: 50%;
    width: 100%;
    top: 50%;
    margin: 0% 0% 0% 0%;
    padding: 0px 0px 0px 0px;
    text-align: center;
    font-size:12pt;
    font-weight:bold;
 
    color: Yellow;
    /*
    background-color: olive;
    */
}

.previous_placed_bets_container
{
    display:none;
    top:120%;
    left:1%;
    width: 100%;    /* Deliberately wide, combined with -5 left above, this offsets and centralises */
    height: 30%;
    float: left;
    margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
    z-index: 30;
    position: absolute;
    background-repeat:no-repeat;
    background-position:0% 0% 0% 0%;
    /*
    background-image:url('/resources/backgrounds/hand_indicator_backgroud.png');
    background-color:yellow;  
    background-color:pink;
    */
}

.previous_placed_bet_for_any_stage
{
    background: none repeat scroll 0 0 #000;
    border-radius: 8px;
    color: #fff;
    float: left;
    font-size: 82%;
	font-weight:bold;
    margin:0 0 2px;
    opacity: 0.7;
    position: relative;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 30;
    
    
    /*
    background-image:url('/resources/chip_yellow.png');
    background-repeat:no-repeat;
    background-position:0% 0% 0% 0%;
    background-size: 10%;
    
    background-color:navy;
    
    height: 14px;
    width: 100%;
    float: left;
    font-size:8pt;
    color:white;
    margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 10%;
    z-index: 30;
    background-image:url('/resources/backgrounds/hand_indicator_backgroud.png');

        */
    
}

/*
.previous_placed_bet_for_Hole_stage {
    top: -0px;
    --color:brown;
}
.previous_placed_bet_for_Flop_stage {
    top: -30px;
    --color:orange;
}
.previous_placed_bet_for_Turn_stage {
    top: -60px;
    --color:red;
}
    http://learn.shayhowe.com/advanced-html-css/detailed-css-positioning
    */

.lost_bet {
    /*
        color: grey;
        */
    display: none;
}

/*When enabled this is a button that allows the player to cancel bets on a hand for the CURRENT betting stage.*/
.cancel_bet_button 
{
   background-image: url("/resources/buttons/btn_cancel_bet_62x24.png");
    background-repeat: no-repeat;
   /* background-size: 100% auto;*/
    color: transparent;
    position: absolute;
    right: -37px;
    top: 0;
    z-index: 99; /*Commented to hide the 'Cancel' text that is returned.
    /*
    background-color:red;
    */
}

.secured_bet_button 
{
   background-image: url("/resources/buttons/btn_secured_bet_62x24.png");
    background-repeat: no-repeat;
  /*  background-size: 120% auto;
    border: 1px solid #fff;*/
    border-radius: 5px;
    color: transparent;
    height: 17px;
    position: absolute;
    right: -39%;
    top: 0;
    width: 57px;
    z-index: 9999;
    /*
    background-color:pink;
    */
}


	
.card_right
{


	display:table-cell;

}

.card_left
{


   	display:table-cell;
    
}

.card_left img
{
   
	left:16px;
    z-index: 2;
	position:relative;
    cursor: pointer;
    transform:rotate(-5deg);
	-ms-transform:rotate(-5deg); /* IE 9 */
	-webkit-transform:rotate(-5deg);

}
.card_right img
{
 
right:16px;
position: relative;
    z-index: 2;
    cursor: pointer;
	
	 transform:rotate(6deg);
	-ms-transform:rotate(6deg); /* IE 9 */
	-webkit-transform:rotate(6deg);

}
}




	
	.hedgeem_control_hand_panel_info_background
	{ width:100%;}
	
.card_right
{


    margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
	display:inline;
    z-index: 2;
    cursor: pointer;
    transform:rotate(5deg);
	-ms-transform:rotate(5deg); /* IE 9 */
	-webkit-transform:rotate(5deg);
    /*
    background-color: olive;
    */
}

.card_left
{


    margin: 0%;
	display:inline;
    padding: 0%;
    top: 0;
    z-index: 1;
    cursor: pointer;
    /*
    background-color: cyan;
    */
    
}
.card_right img {
    cursor: pointer;
    position: absolute;
    right: -8px;
    z-index: 2;
	 transform:rotate(6deg);
	-ms-transform:rotate(6deg); /* IE 9 */
	-webkit-transform:rotate(6deg);
}

.card_left img {
    left: -8px;
    position: relative;
	  transform:rotate(-5deg);
	-ms-transform:rotate(-5deg); /* IE 9 */
	-webkit-transform:rotate(-5deg);
}










#h0c1 img, #h0c2 img, #h1c1 img, #h1c2 img, #h2c1 img, #h2c2 img, #h3c1 img, #h3c2 img{
    display:none;
}

#h0c1{
    -webkit-animation-delay: 100ms; /* Chrome, Safari, Opera */
    animation-delay: 100ms;
}

#h0c2{
    -webkit-animation-delay: 200ms; /* Chrome, Safari, Opera */
    animation-delay: 200ms;
}

#h1c1{
    -webkit-animation-delay: 300ms; /* Chrome, Safari, Opera */
    animation-delay: 300ms;
}

#h1c2{
    -webkit-animation-delay: 400ms; /* Chrome, Safari, Opera */
    animation-delay: 400ms;
}
#h2c1{
    -webkit-animation-delay: 500ms; /* Chrome, Safari, Opera */
    animation-delay: 500ms;
}

#h2c2{
    -webkit-animation-delay: 600ms; /* Chrome, Safari, Opera */
    animation-delay: 600ms;
}
#h3c1{
    -webkit-animation-delay: 700ms; /* Chrome, Safari, Opera */
    animation-delay: 700ms;
}

#h3c2{
    -webkit-animation-delay: 800ms; /* Chrome, Safari, Opera */
    animation-delay: 800ms;
}


/* Hide all the card images as we are using sprites*/
#card_ZZ img, 
#card_2h img, #card_3h img, #card_4h img, #card_5h img, #card_6h img, #card_7h img, #card_8h img, #card_9h img, #card_th img, #card_jh img, #card_qh img, #card_kh img, #card_ah img,
#card_2d img, #card_3d img, #card_4d img, #card_5d img, #card_6d img, #card_7d img, #card_8d img, #card_9d img, #card_td img, #card_jd img, #card_qd img, #card_kd img, #card_ad img, 
#card_2c img, #card_3c img, #card_4c img, #card_5c img, #card_6c img, #card_7c img, #card_8c img, #card_9c img, #card_tc img, #card_jc img, #card_qc img, #card_kc img, #card_ac img, 
#card_2s img, #card_3s img, #card_4s img, #card_5s img, #card_6s img, #card_7s img, #card_8s img, #card_9s img, #card_ts img, #card_js img, #card_qs img, #card_ks img, #card_as img{ 
   display:none;
}


#card_ZZ{ 
    height: 108px;
    width: 79px;
	float:left;
}


#card_2h, #card_3h, #card_4h, #card_5h, #card_6h, #card_7h, #card_8h, #card_9h, #card_th, #card_jh, #card_qh, #card_kh, #card_ah{ 
    height: 108px;
    width: 79px;
	float:left;
}

	
#card_2d, #card_3d, #card_4d, #card_5d, #card_6d, #card_7d, #card_8d, #card_9d, #card_td, #card_jd, #card_qd, #card_kd, #card_ad{ 
   height: 108px;
    width: 79px;
	float:left;
}

#card_2c, #card_3c, #card_4c, #card_5c, #card_6c, #card_7c, #card_8c, #card_9c, #card_tc, #card_jc, #card_qc, #card_kc, #card_ac{ 
    height: 108px;
    width: 79px;
	float:left;
}

#card_2s, #card_3s, #card_4s, #card_5s, #card_6s, #card_7s, #card_8s, #card_9s, #card_ts, #card_js, #card_qs, #card_ks, #card_as{ 
   height: 110px;
    width: 79px;
	float:left;
}
	
#card_2h {background: url("http://dev.hedgeem.com/resources/cards/sprites/videopoker_cards.png") repeat scroll 0px 0 rgba(0, 0, 0, 0);}
#card_3h {background: url("http://dev.hedgeem.com/resources/cards/sprites/videopoker_cards.png") repeat scroll -80px 0 rgba(0, 0, 0, 0);}
#card_4h {background: url("http://dev.hedgeem.com/resources/cards/sprites/videopoker_cards.png") repeat scroll -160px 0 rgba(0, 0, 0, 0);}
#card_5h {background: url("http://dev.hedgeem.com/resources/cards/sprites/videopoker_cards.png") repeat scroll -240px 0 rgba(0, 0, 0, 0);}
#card_6h {background: url("http://dev.hedgeem.com/resources/cards/sprites/videopoker_cards.png") repeat scroll -320px 0 rgba(0, 0, 0, 0);}
#card_7h {background: url("http://dev.hedgeem.com/resources/cards/sprites/videopoker_cards.png") repeat scroll -400px 0 rgba(0, 0, 0, 0);}
#card_8h {background: url("http://dev.hedgeem.com/resources/cards/sprites/videopoker_cards.png") repeat scroll -480px 0 rgba(0, 0, 0, 0);}
#card_9h {background: url("http://dev.hedgeem.com/resources/cards/sprites/videopoker_cards.png") repeat scroll -560px 0 rgba(0, 0, 0, 0);}
#card_th{background:  url("http://dev.hedgeem.com/resources/cards/sprites/videopoker_cards.png") repeat scroll -640px 0 rgba(0, 0, 0, 0);}
#card_jh {background: url("http://dev.hedgeem.com/resources/cards/sprites/videopoker_cards.png") repeat scroll -720px 0 rgba(0, 0, 0, 0);}
#card_qh {background: url("http://dev.hedgeem.com/resources/cards/sprites/videopoker_cards.png") repeat scroll -800px 0 rgba(0, 0, 0, 0);}
#card_kh {background: url("http://dev.hedgeem.com/resources/cards/sprites/videopoker_cards.png") repeat scroll -880px 0 rgba(0, 0, 0, 0);}
#card_ah {background: url("http://dev.hedgeem.com/resources/cards/sprites/videopoker_cards.png") repeat scroll -960px 0 rgba(0, 0, 0, 0);}
#card_ZZ {background: url("http://dev.hedgeem.com/resources/cards/sprites/videopoker_cards.png") repeat scroll -0px -433px rgba(0, 0, 0, 0);}

/*
#card_8h {background: url("http://dev.hedgeem.com/resources/cards/sprites/videopoker_cards.png") repeat scroll -480px 0 rgba(0, 0, 0, 0);
    margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
	display:inline;
    z-index: 2;
    cursor: pointer;
    transform:rotate(5deg);
	-ms-transform:rotate(5deg); 
	-webkit-transform:rotate(5deg);
    zoom:0.60;
    -moz-transform:scale(0.60);
    -moz-transform-origin: 0 0;
}*/
   


#card_2d {background: url("http://dev.hedgeem.com/resources/cards/sprites/videopoker_cards.png") repeat scroll -0px -108px rgba(0, 0, 0, 0);}
#card_3d {background: url("http://dev.hedgeem.com/resources/cards/sprites/videopoker_cards.png") repeat scroll -80px -108px rgba(0, 0, 0, 0);}
#card_4d {background: url("http://dev.hedgeem.com/resources/cards/sprites/videopoker_cards.png") repeat scroll -160px -108px rgba(0, 0, 0, 0);}
#card_5d {background: url("http://dev.hedgeem.com/resources/cards/sprites/videopoker_cards.png") repeat scroll -240px -108px rgba(0, 0, 0, 0);}
#card_6d {background: url("http://dev.hedgeem.com/resources/cards/sprites/videopoker_cards.png") repeat scroll -320px -108px rgba(0, 0, 0, 0);}
#card_7d {background: url("http://dev.hedgeem.com/resources/cards/sprites/videopoker_cards.png") repeat scroll -400px -108px rgba(0, 0, 0, 0);}
#card_8d {background: url("http://dev.hedgeem.com/resources/cards/sprites/videopoker_cards.png") repeat scroll -480px -108px rgba(0, 0, 0, 0);}
#card_9d {background: url("http://dev.hedgeem.com/resources/cards/sprites/videopoker_cards.png") repeat scroll -560px -108px rgba(0, 0, 0, 0);}
#card_td {background: url("http://dev.hedgeem.com/resources/cards/sprites/videopoker_cards.png") repeat scroll -640px -108px rgba(0, 0, 0, 0);}
#card_jd {background: url("http://dev.hedgeem.com/resources/cards/sprites/videopoker_cards.png") repeat scroll -720px -108px rgba(0, 0, 0, 0);}
#card_qd {background: url("http://dev.hedgeem.com/resources/cards/sprites/videopoker_cards.png") repeat scroll -800px -108px rgba(0, 0, 0, 0);}
#card_kd {background: url("http://dev.hedgeem.com/resources/cards/sprites/videopoker_cards.png") repeat scroll -880px -108px rgba(0, 0, 0, 0);}
#card_ad {background: url("http://dev.hedgeem.com/resources/cards/sprites/videopoker_cards.png") repeat scroll -960px -108px rgba(0, 0, 0, 0); }




#card_2c {background: url("http://dev.hedgeem.com/resources/cards/sprites/videopoker_cards.png") repeat scroll 0px -217px rgba(0, 0, 0, 0);}
#card_3c {background: url("http://dev.hedgeem.com/resources/cards/sprites/videopoker_cards.png") repeat scroll -80px -217px rgba(0, 0, 0, 0);}
#card_4c {background: url("http://dev.hedgeem.com/resources/cards/sprites/videopoker_cards.png") repeat scroll -160px -217px rgba(0, 0, 0, 0);}
#card_5c {background: url("http://dev.hedgeem.com/resources/cards/sprites/videopoker_cards.png") repeat scroll -240px -217px rgba(0, 0, 0, 0);}
#card_6c {background: url("http://dev.hedgeem.com/resources/cards/sprites/videopoker_cards.png") repeat scroll -320px -217px rgba(0, 0, 0, 0);}
#card_7c {background: url("http://dev.hedgeem.com/resources/cards/sprites/videopoker_cards.png") repeat scroll -400px -217px rgba(0, 0, 0, 0);}
#card_8c {background: url("http://dev.hedgeem.com/resources/cards/sprites/videopoker_cards.png") repeat scroll -480px -217px rgba(0, 0, 0, 0);}
#card_9c {background: url("http://dev.hedgeem.com/resources/cards/sprites/videopoker_cards.png") repeat scroll -560px -217px rgba(0, 0, 0, 0);}
#card_tc {background: url("http://dev.hedgeem.com/resources/cards/sprites/videopoker_cards.png") repeat scroll -640px -217px rgba(0, 0, 0, 0);}
#card_jc {background: url("http://dev.hedgeem.com/resources/cards/sprites/videopoker_cards.png") repeat scroll -720px -217px rgba(0, 0, 0, 0);}
#card_qc {background: url("http://dev.hedgeem.com/resources/cards/sprites/videopoker_cards.png") repeat scroll -800px -217px rgba(0, 0, 0, 0);}
#card_kc {background: url("http://dev.hedgeem.com/resources/cards/sprites/videopoker_cards.png") repeat scroll -880px -217px rgba(0, 0, 0, 0);}
#card_ac {background: url("http://dev.hedgeem.com/resources/cards/sprites/videopoker_cards.png") repeat scroll -960px -217px rgba(0, 0, 0, 0);}



#card_2s {background: url("http://dev.hedgeem.com/resources/cards/sprites/videopoker_cards.png") repeat scroll 0px -325px rgba(0, 0, 0, 0);}
#card_3s {background: url("http://dev.hedgeem.com/resources/cards/sprites/videopoker_cards.png") repeat scroll -80px -325px rgba(0, 0, 0, 0);}
#card_4s {background: url("http://dev.hedgeem.com/resources/cards/sprites/videopoker_cards.png") repeat scroll -160px -325px rgba(0, 0, 0, 0);}
#card_5s {background: url("http://dev.hedgeem.com/resources/cards/sprites/videopoker_cards.png") repeat scroll -240px -325px rgba(0, 0, 0, 0);}
#card_6s {background: url("http://dev.hedgeem.com/resources/cards/sprites/videopoker_cards.png") repeat scroll -320px -325px rgba(0, 0, 0, 0);}
#card_7s {background: url("http://dev.hedgeem.com/resources/cards/sprites/videopoker_cards.png") repeat scroll -400px -325px rgba(0, 0, 0, 0);}
#card_8s {background: url("http://dev.hedgeem.com/resources/cards/sprites/videopoker_cards.png") repeat scroll -480px -325px rgba(0, 0, 0, 0);}
#card_9s {background: url("http://dev.hedgeem.com/resources/cards/sprites/videopoker_cards.png") repeat scroll -560px -325px rgba(0, 0, 0, 0);}
#card_ts {background: url("http://dev.hedgeem.com/resources/cards/sprites/videopoker_cards.png") repeat scroll -640px -325px rgba(0, 0, 0, 0);}
#card_js {background: url("http://dev.hedgeem.com/resources/cards/sprites/videopoker_cards.png") repeat scroll -720px -325px rgba(0, 0, 0, 0);}
#card_qs {background: url("http://dev.hedgeem.com/resources/cards/sprites/videopoker_cards.png") repeat scroll -800px -325px rgba(0, 0, 0, 0);}
#card_ks {background: url("http://dev.hedgeem.com/resources/cards/sprites/videopoker_cards.png") repeat scroll -880px -325px rgba(0, 0, 0, 0);}
#card_as {background: url("http://dev.hedgeem.com/resources/cards/sprites/videopoker_cards.png") repeat scroll -960px -325px rgba(0, 0, 0, 0);}
