/*
    Filename: hedgeem_board_cards.css
    Last Edit: Simon Hewins, 7th Mar 2016
    Theme: Retro
*/

.board_cards_container {
    height: 100px;
    margin: 0px;
    padding: 0;
    position: absolute;
    float: left;
    top: 210px;
    width: 1000px;
    z-index: 20;
    /*
        background-color: hotpink;
    */
}

#Flop_Cards {
    position: absolute;
    float: left;
    width: 400px;
    height: 100px;
    top: 0px;
    left: 190px;
    padding: 0px;
    z-index: 0; 
    /*
        background-color: yellow;
    */
}

#Turn_Cards {
    position: absolute;
    float: left;
    width: 100px;
    height: 100px;
    top: 0px;
    left: 450px;
    padding: 0px;
    z-index: 0; 
    -webkit-animation-delay: 500ms; /* Chrome, Safari, Opera */
    animation-delay: 500ms;
    /*
        background-color: firebrick;
    */
}

#River_Cards {
    position: absolute;
    float: left;
    width: 100px;
    height: 100px;
    top: 0px;
    left: 550px;
    padding: 0px;
    z-index: 0; 
    -webkit-animation-delay: 1000ms; /* Chrome, Safari, Opera */
    animation-delay: 1000ms;
    /*    
        background-color:aqua
    */
}



.card_left_flop
{
    position: absolute;
    float: left;
    position: absolute;
    top:0px;
    left: 50px;
    margin: 0px;
	padding: 0px;
    top: 0;
    z-index: 1;
}

.card_middle_flop
{
    position: absolute;
    float: left;
    top:0px;
    left: 100px;
    margin: 0px;
    padding: 0px;
    top: 0;
    z-index: 1;
}


.card_right_flop
{
    position: absolute;
    float: left;
    top:0px;
    left: 150px;
    margin: 0px;
    padding: 0px;
    z-index: 2;
}
