
/*This is badly named and should be called hedgeem_single_seat_container */ 
#Player_Info
{
    position: absolute;
    top: 0%;
    left: 102%;
    height: 30%;
    width: 90%;
    z-index: 2;
    //background-color: cyan;
    /*
    height: 107px;
    background-color: cyan;
    */
    
}

.hedgeem_seat_container
{
    background:url(/resources/backgrounds/seat_background_1.png);
    background-repeat: no-repeat;
    position: relative;
    //float:left;
    display: block;
    //top: 0%;
    //left: 0%;
    height: 100%;
    width: 20%;
    margin: 10%, 5%, 0%, 15% ;
    padding: 0% 0% 0% 0%;
    z-index: 30;
    background-color: gold;
    /*
    background-color: gold;
    */
}


.player_image img {
    height: 50px;
    width: 50px;    
    padding: 6px;
}

.player_image
{
    
    position: relative;
    border: 0px solid #654321;
    top: 8%;
    left: 0%;
    margin: 5% 5% 5% 0%;
    padding: 0% 0% 0% 0%;
    /* Change 0deg to 90deg later when developing for ETG */
    //transform:rotate(0deg);
	//-ms-transform:rotate(0deg); /* IE 9 */
	//-webkit-transform:rotate(0deg); /* Safari and Chrome */
}

.player_balance
{
    
    position: absolute;
    width: 40%;
    height: 20%;
    color: #FFFF00;
    font-size: 80%;
    text-align: center;
    margin: 5% 5% 5% 5%;
    padding: 0% 0% 0% 0%;
    top: 23%;
    left: 50%;
    /*
    background-color: green;
    */
    
    
    
    }


.player_name
{
    color: Black;
    float: left;
    font-size: 14px;
    margin-left: 26px;
    padding: 0;
    position: relative;
    text-align: center;
    top: 12px;
    display: none;
    background-color: red;
    width: 50px
    
}



.chip_image
{
    position: absolute;
    float: left;
    margin: 0px;
    padding: 0px 0px 0 0px;
    width: 5%;
    //display:none;
    top: 60%;
    left: -5%;
    z-index: 99;
    

    
    
    
    

}

