/*
    Theme: CASINO
    Style: hedgeem_betting_panels
    Description: Styles anything to do with a 'HedgeEm Betting Panel'.  There is one HedgeEm Betting Panel per hand/stage 
                 combination. You can style each differently (if desired) but it is not normal to style one 'generic' betting 
                 panel and apply this to all.  See design documentation and sytling Tutorials for more information about 
                 Betting Panels
*/


/*
   All betting panels for all hands and stages are positioned within ONE large betting panels container.
    Tip: uncomment the background colour to see this container.
*/

#betting_panels_container
{
    /*
    background-color: red;
    */
    float: left;
    position: absolute;
    top: 60%;
    left: 8%;
    width: 85%;
    height: 50%;
    margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
    z-index: 20;
}

/*
    Every betting panel for each hand and stage will have generic styling that applies to all.
*/
.generic_betting_panel_container {
    position: relative;
    display:block;
    background-color: lime;
    float:left;
    margin: 1% 1% 1% 1%;
    padding: 1% 1% 1% 1%;
    z-index:99;
    /*
    background: url("http://localhost:2574/resources/buttons/animated_bet_button_yellow_active.gif") no-repeat;
    background-position: 0px;
	background-size: 150%;
	border-radius: 120px;
    */
    color: transparent;
	height: 22%;
    width: 22%;
    
}


/* xxx THIS SHOULD NOT BE HERE - Its a hack when betting stage is not being set in code*/
.generic_NON_BETTING_STAGE_betting_panel_container {
}

.generic_HOLE_BETS_betting_panel_container {
    position: relative;
    //margin: 0% 5% 0% 5%;
    top: 0%;
    z-index:10;
    background-color: chocolate;

}

.generic_FLOP_BETS_betting_panel_container {
    position: relative;
    //margin: 0% 5% 0% 5%;
    top: 0%;
    z-index:20;
    background-color: magenta;

}

.generic_TURN_BETS_betting_panel_container {
    position: relative;
    //margin: 0% 5% 0% 5%;
    top: 0%;
    z-index:30;
    background-color: lavender;  
}


/* Positions the text that shows the value of the bet.  May be used in the center of a chip icon 
    to indicate the value of the chip*/
.bet_value{
    position: absolute;
    margin: 0% 10% 0% 10%;
}

.betting_panel_IN_PLAY_DEAD{
    position: relative;
    background-position: 0px;
	z-index:1000;
    color:red;
}


.generic_NON_BETTING_STAGE_betting_panel_container{
    display:block;
}

.betting_panel_UNDEFINED {
    display:block;
}

.betting_panel_IN_PLAY_PREVIOUS_BETTING_STAGE_NOT_ACTIVE {
    display:block;
}

.betting_panel_IN_NON_BETTING_STAGE {
    position: relative;
    background-color:black;
    display:block;
}

.betting_panel_IN_PLAY_WINNER {
    position: relative;
    background-position: 0px;
	background-color:royalblue;
    z-index:1000;
    display:block;
}

.betting_panel_IN_PLAY_WILL_WIN {
    position: relative;
    background-position: 0px;
	background-color:purple;
    z-index:1000;
    display:block;
}


.betting_panel_IN_PLAY_FAVOURITE {
    position: relative;
    background-position: 0px;
	background-color:salmon;
    z-index:1000;
    display:block;
}


.presented_odds_IN_NON_BETTING_STAGE {
    display:none;
}

.presented_odds_IN_PLAY_DISABLED {
    position: absolute;
    font-size: 8pt;
    top: 0px;
    right: 5px;
    color: grey;
}

.presented_odds_IN_PLAY_PREVIOUS_BETTING_STAGE_NOT_ACTIVE {
    position: absolute;
    font-size: 8pt;
    top: 0px;
    right: 8px;
    color: white;
}

.presented_odds_IN_PLAY_FAVOURITE {
    position: absolute;
    font-size: 14pt;
    top: 0px;
    right: 5px;
    color: yellow;
}

.presented_odds_IN_PLAY_BETTING_STAGE_ACTIVE {
    position: absolute;
    font-size: 12pt;
    top: 0px;
    right: 5px;
    color: yellow;
}

.presented_odds_IN_PLAY_BETTING_STAGE_ACTIVE {
    position: absolute;
    font-size: 12pt;
    top: 0px;
    right: 5px;
    color: yellow;
}

.chip_icon_0 {
    position: absolute;
    background-image:url("http://localhost:2574/resources/chip_icon_5.png");
    background-repeat:no-repeat;
    background-position:0px 0px;
    width: 30px;
    height: 30px;
    float:left;
    margin: 0% 2% 0% 2%;
    z-index:99;
    /*
        background-color: white;
    */

}

.chip_icon_1 {
    position: absolute;
    background-image:url("http://localhost:2574/resources/chip_icon_1.png");
    background-repeat:no-repeat;
    background-position:0px 0px;
    width: 40px;
    float:left;
    margin: 0% 5% 0% 10%;
    z-index:99;
    /*
        background-color: olive;
    */


}
    