body
{
    //background: url("/resources/backgrounds/watermark_2.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    overflow-y: hidden;
    overflow-x: hidden;
    margin:0 auto;
}

#profile_table
{
    border:1px solid;
}

#profile_image
{
    display:none;
    float:right;
}