
/* For tutorial only*/
#user_input
{
    //background-color: cyan;
    border-width:1px;
}

.user_input_container
{
    position: relative;
    //background-color: orangered;
    border-width:3px;
    //border-bottom-color:blueviolet;
    font-size:10px;
    width: 100%;
    height: 100%;

    padding:5%, 5%, 5%, 5%;
    margin:5%, 5%, 5%, 5%;
}


.hedgeem_sub_content_container
{
    position: relative;
    //background-color: pink;
    border-width:1px;
    border-bottom-style: solid;
    //font-size:10pt;
    height: 100%;
    padding:5%, 5%, 5%, 5%;
    margin:5%, 5%, 5%, 5%;
}

/*This is badly named and should be called hedgeem_single_seat_container */ 
#Player_Info
{
    position: relative;
    margin: auto;
    height: 150px;
    width: 150px;
    top: 10px;
    z-index: 20;
    font-size:10pt;
    border-style: solid;
    border-width:1px;
    border-color:gray;
    background-color: lightgray;
    margin: 0%, 0%, 0%, 0% ;
    padding: 0% 0% 0% 0%;
    
    /*
    height: 107px;
    background-color: cyan;
    */
    
}

.hedgeem_seat_container
{
    background:url(/resources/backgrounds/seat_background_1.png);
    background-repeat: no-repeat;
    position: relative;
    //float:left;
    display: block;
    //top: 0%;
    //left: 0%;
    height: 100%;
    width: 100%;
    margin: 10%, 5%, 0%, 15% ;
    padding: 0% 0% 0% 0%;
    z-index: 30;
    //background-color: gold;
    
}


.player_image img {
    height: 50px;
    width: 50px;    
    padding: 6px;
}

.player_image
{
    
    position: relative;
    border: 0px solid #654321;
    top: 8%;
    left: 0%;
    margin: 5% 5% 5% 0%;
    padding: 0% 0% 0% 0%;
    /* Change 0deg to 90deg later when developing for ETG */
    //transform:rotate(0deg);
	//-ms-transform:rotate(0deg); /* IE 9 */
	//-webkit-transform:rotate(0deg); /* Safari and Chrome */
}

.player_balance
{
    
    position: absolute;
    width: 40%;
    height: 20%;
    color: #FFFF00;
    font-size: 100%;
    text-align: center;
    margin: 5% 5% 5% 5%;
    padding: 0% 0% 0% 0%;
    top: 20%;
    left: 50%;
    /*
    background-color: green;
    */
    
    
    
    }


.player_name
{
    color: Black;
    float: left;
    font-size: 100%;
    //margin-left: 26px;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 68%;
    left: 60%;
    //display: none;
    //background-color: red;
    width: 50px
    
}



.chip_image {
    position: absolute;
    float: left;
    margin: 0px;
    padding: 0px 0px 0 0px;
    width: 5%;
    //display: none;
    top: 60%;
    left: 45%;
    z-index: 99;
}    

.hand_payout_total_container
{
    position: absolute;
    float: left;
    //font-size: 14px;
    //margin-left: 26px;
    padding: 0;
    float: left;
    text-align: center;
    //top: 12px;
    //display: none;
    //background-color: palegreen;
    color: pink;
    width: 100%;
}

.total_bet_label
{
    color: darkblue;
    float: left;
    font-size: 100%;
    //margin-left: 26px;
    padding: 0;
    float: left;
    position: relative;
    text-align: left;
    //top: 12px;
    //display: none;
    //background-color: cyan;
    color: black;
    width: 90%;
    margin: 0% 5% 0% 5% ;
}

.total_bet_amount
{
    color: deeppink;
    float: left;
    font-size: 100%;
    padding: 0;
    float: left;
    position: absolute;
    text-align: left;
    top: 0%;
    left: 0%;
    //display: none;
    //background-color: chocolate;
    color: black;
    width: 40%;
    margin: 0% 5% 0% 55% ;

}

.hand_payouts_container
{
    position: absolute;
    color: blue;
    float: left;
    font-size: 100%;
    //margin-left: 26px;
    padding: 0;
    float: left;
    text-align: center;
    top: 100%;
    left: 0%;
    //display: none;
    //background-color: blanchedalmond;
    color: black;
    width: 90%;
    margin: 0% 5% 0% 5% ;
} 

.hand_payout_container
{
    position: relative;
    color: blue;
    float: left;
    font-size: 100%;
    //margin-left: 26px;
    padding: 0;
    float: left;
    text-align: center;
    top: 5%;
    left: 0%;
    //display: none;
    //background-color: olive;
    color: darkgoldenrod;
    width: 90%;
    margin: 0% 5% 0% 5% ;
} 
    

.hand_payout_label
{
    position: relative;
    color: blue;
    float: left;
    font-size: 100%;
    //margin-left: 26px;
    padding: 0;
    text-align: center;
    //top: 12px;
    //display: none;
    //background-color: Orange;
    color: navy;
    //width: 50px
}    
    
    
.hand_payout_value
{
    color: blue;
    float: left;
    font-size: 100%;
    margin-left: 5%;
    padding: 0;
    float: left;
    position: relative;
    text-align: center;
    //top: 12px;
    //display: none;
    //background-color: red;
    color: black;
    //width: 50px
}    




    