/*
    Theme: RETRO
    Style: hedgeem_betting_panels
    Description: Styles anything to do with a 'HedgeEm Betting Panel'.  There is one HedgeEm Betting Panel per hand/stage 
                 combination. You can style each differently (if desired) but it is not normal to style one 'generic' betting 
                 panel and apply this to all.  See design documentation and sytling Tutorials for more information about 
                 Betting Panels
*/


/*
   All betting panels for all hands and stages are positioned within ONE large betting panels container.
    Tip: uncomment the background colour to see this container.
*/
#betting_panels_container
{
    /*
    background-color: orange;
    */
    float: left;
    position: absolute;
    top: 76%;
    left: 0%;
    width: 100%;
    height: 10%;/*For RETRO style we want only a single line of buttons so keep this small and overlap each stage button with next*/
    margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
    z-index: 20;
}

/*
    Every betting panel for each hand and stage will have generic styling that applies to all.
    In the RETRO style (that looks like a arcarde/slot/video-poker machine we will want to see a 'Bet' button that is disabled
    (i.e. not illuminated or flashing.  This needs to be overridden later when the button is enabled.
    http://stackoverflow.com/questions/3288946/how-to-use-scale-with-moz-transform
*/
.generic_betting_panel_container {
    position: relative;
    float:left;
    z-index:99;
    background: url("http://localhost:2574/resources/buttons/animated_bet_button_yellow_active.gif") no-repeat;
    background: url("http://localhost:2574/resources/buttons/slot_button_disabled_bet.png") no-repeat;
    background-position: 0px;
	background-size: 65%;
	//border-radius: 120px;
    padding: 0%;
    color: transparent;
	margin: 0%;
	/*
    margin: 1% 1% 1% 1%;
    display:block;
    height: 100%;
    background-color: lime;
    width: 100%;
    */
    transform: scale(1,1);
    -ms-transform: scale(1,1); /* IE 9 */
    -webkit-transform: scale(1,1); /* Safari and Chrome */
    -o-transform: scale(1,1); /* Opera */
    -moz-transform: scale(1,1); /* Firefox */

}


/* xxx THIS SHOULD NOT BE HERE - Its a hack when betting stage is not being set in code*/
.generic_NON_BETTING_STAGE_betting_panel_container {
}


/*This class applies to all betting panel containers associated with the HOLE stage of the game*/
.generic_HOLE_BETS_betting_panel_container {
    /*
    position: relative;
    margin: 0% 5% 0% 5%;
    height: 30%;
    width: 15%;
    top: 0%;
    z-index:10;
    background-color: chocolate;
    */
}

/*This class applies to all betting panel containers associated with the FLOP stage of the game*/
.generic_FLOP_BETS_betting_panel_container {
    /*
    position: relative;
    margin: 0% 5% 0% 5%;
    height: 30%;
    width: 15%;
    top: 0%;
    z-index:20;
    background-color: silver;
    */
}

/*This class applies to all betting panel containers associated with the TURN stage of the game*/
.generic_TURN_BETS_betting_panel_container {
    /*
    position: relative;
    height: 30%;
    margin: 0% 5% 0% 5%;
    width: 15%;
    top: 0%;
    z-index:30;
    background-color: lime; 
    */  
}

/*  This class applies to all betting panel containers associated with a hand that is dead and can't win.
    Typically you would show a bet button that is disabled. (i.e. let the generic class define this)
*/
.betting_panel_IN_PLAY_DEAD{
    /*
    position: relative;
    background: url("http://localhost:2574/resources/buttons/slot_button_disabled_bet.png") no-repeat;
    background-position: 0px;
	z-index:1000;
    display:none;
    */
}

/*  This class applies to all betting panel containers associated with a stage of the game when betting is not 
    permitted (e.g. at the start or end of the game)
    Typically you would show a bet button that is disabled. (i.e. let the generic class define this)
*/
.generic_NON_BETTING_STAGE_betting_panel_container{
    /*
    position: relative;
    background: url("resources/buttons/slot_button_disabled_bet.png") no-repeat;
    background-position: 0px;
	background-color:black;
    z-index:1000;
    display:none;
    */
}

.betting_panel_UNDEFINED {
    /*
    display:none;
    */
}

.betting_panel_IN_PLAY_PREVIOUS_BETTING_STAGE_NOT_ACTIVE {
    /*
    
    */
    display:none;
}


.betting_panel_IN_NON_BETTING_STAGE {
    /*
    position: relative;
    background: url("resources/buttons/slot_button_disabled_bet.png") no-repeat;
    background-position: 0px;
	background-color:black;
    z-index:1000;
    display:none;
    */
}

/*  
    This class applies to all betting panel containers associated with a hand that has won, typically this is only valid at
    the end of the game)
    Typically you would show a bet button that is disabled. (i.e. let the generic class define this)
*/
.betting_panel_IN_PLAY_WINNER {
    /*
    position: relative;
    background: url("resources/buttons/slot_button_disabled_bet.png") no-repeat;
    background-position: 0px;
	background-color:purple;
    z-index:1000;
    display:block;
    display:none;
    */
}

/*  
    This class applies to all betting panel containers associated with a hand that will definitely win no matter what next 
    cards are dealt.
    Typically you would show a bet button that is disabled. (i.e. let the generic class define this)
*/
.betting_panel_IN_PLAY_WILL_WIN {
    /*
    position: relative;
    background: url("resources/buttons/slot_button_disabled_bet.png") no-repeat;
    background-position: 0px;
	background-color:purple;
    z-index:1000;
    display:block;
    display:none;
    */
}

/*  
    This class applies to all betting panel containers associated with a hand that is MOST LIKELY TO WIN when the next 
    cards are dealt.
    Typically you would show a bet button that is enabled and highlighted in some way (e.g. flashing faster than other buttons)
*/
.betting_panel_IN_PLAY_FAVOURITE {
    /*
    position: relative;
    background: url("http://localhost:2574/resources/buttons/animated_bet_button_yellow_fast.gif") no-repeat;
    background-position: 0px;
	z-index:1000;
        background: url("/resources/buttons/animated_bet_button_yellow_fast.gif") no-repeat;
    background-position: 0px;
	background-size: 150%;
    background-color:green;
    display:none;
    */
}

.chip_icon_0 {
    position: absolute;
    background-image:url("http://localhost:2574/resources/chip_icon_5.png");
    background-repeat:no-repeat;
    background-position:0px 0px;
    width: 30px;
    height: 30px;
    float:left;
    margin: 0% 2% 0% 2%;
    z-index:99;
    top: -40px;
    left: 40px;
    /*
        background-color: white;
    */
     display:none;

}

.chip_icon_1 {
    /*
    position: absolute;
    background-image:url("http://localhost:2574/resources/chip_icon_1.png");
    background-repeat:no-repeat;
    background-position:0px 0px;
    width: 40px;
    float:left;
    margin: 0% 5% 0% 10%;
    z-index:99;
    background-color: olive;
    */
}


/* Positions the text that shows the value of the bet.  May be used in the center of a chip icon 
    to indicate the value of the chip*/
.bet_value{
    position: absolute;
    margin: 0% 10% 0% 10%;
}

#betpanel_hand0_stageNON_BETTING_STAGE
{
    
    position: absolute;
    margin: 0% 0% 0% 0%;
    height: 100%;
    width: 15%;
    top: 0%;
    left: 0%;
    z-index:10;
    /*
    background-color: limegreen;
    */
}

#betpanel_hand1_stageNON_BETTING_STAGE
{
    position: absolute;
    margin: 0% 0% 0% 0%;
    height: 100%;
    width: 15%;
    top: 0%;
    left: 20%;
    z-index:11;
    /*
    background-color: chocolate;
    */
}

#betpanel_hand2_stageNON_BETTING_STAGE
{
    position: absolute;
    margin: 0% 0% 0% 0%;
    height: 100%;
    width: 15%;
    top: 0%;
    left: 40%;
    z-index:12;
    /*
    background-color: purple;
    */
}
    
#betpanel_hand3_stageNON_BETTING_STAGE
{
    position: absolute;
    margin: 0% 0% 0% 0%;
    height: 100%;
    width: 15%;
    top: 0%;
    left: 60%;
    z-index:13;
    /*
    background-color: darkcyan;
    */
}



#betpanel_hand0_stageHOLE_BETS
{
    position: absolute;
    margin: 0% 0% 0% 0%;
    height: 100%;
    width: 15%;
    top: 0%;
    left: 0%;
    z-index:20;
    /*
    background-color: limegreen;
    */
    
}

#betpanel_hand1_stageHOLE_BETS{
    
    position: absolute;
    margin: 0% 0% 0% 0%;
    height: 100%;
    width: 15%;
    top: 0%;
    left: 20%;
    z-index:21;
    /*
    background-color: chocolate;
    */
}

#betpanel_hand2_stageHOLE_BETS
{
    position: absolute;
    margin: 0% 0% 0% 0%;
    height: 100%;
    width: 15%;
    top: 0%;
    left: 40%;
    z-index:22;
    /*
    background-color: purple;
    */
}
    
#betpanel_hand3_stageHOLE_BETS
{
    position: absolute;
    margin: 0% 0% 0% 0%;
    height: 100%;
    width: 15%;
    top: 0%;
    left: 60%;
    z-index:23;
    /*
    background-color: darkcyan;
    */
}

#betpanel_hand0_stageFLOP_BETS
{
    position: absolute;
    margin: 0% 0% 0% 0%;
    height: 100%;
    width: 15%;
    top: 0%;
    left: 0%;
    z-index:10;
    /*
    background-color: wheat;
    */
}

#betpanel_hand1_stageFLOP_BETS{
    
    position: absolute;
    margin: 0% 0% 0% 0%;
    height: 100%;
    width: 15%;
    top: 0%;
    left: 20%;
    z-index:10;
    /*
    background-color: turquoise;
    */
}

#betpanel_hand2_stageFLOP_BETS{
    
    position: absolute;
    margin: 0% 0% 0% 0%;
    height: 100%;
    width: 15%;
    top: 0%;
    left: 40%;
    z-index:10;
    /*
    background-color: magenta;
    */
}
    
#betpanel_hand3_stageFLOP_BETS{
    
    position: absolute;
    margin: 0% 0% 0% 0%;
    height: 100%;
    width: 15%;
    top: 0%;
    left: 60%;
    z-index:10;
    /*
    background-color: olive;
    */
}

#betpanel_hand0_stageTURN_BETS{
    
    position: absolute;
    margin: 0% 0% 0% 0%;
    height: 100%;
    width: 15%;
    top: 0%;
    left: 0%;
    z-index:10;
    /*
    background-color: slategray;
    */
}

#betpanel_hand1_stageTURN_BETS{
    
    position: absolute;
    margin: 0% 0% 0% 0%;
    height: 100%;
    width: 15%;
    top: 0%;
    left: 20%;
    z-index:10;
    /*
    background-color: rosybrown;
    */
}

#betpanel_hand2_stageTURN_BETS{
    
    position: absolute;
    margin: 0% 0% 0% 0%;
    height: 100%;
    width: 15%;
    top: 0%;
    left: 40%;
    z-index:10;
    /*
    background-color: blueviolet;
    */
    
}
    
#betpanel_hand3_stageTURN_BETS{
    
    position: absolute;
    margin: 0% 0% 0% 0%;
    height: 100%;
    width: 15%;
    top: 0%;
    left: 60%;
    z-index:10;
    /*
    background-color: darkorchid;
    */
    
}

/*  
    This class applies to all betting panel containers associated with a hand that is MOST LIKELY TO WIN when the next 
    cards are dealt.
    Typically you would show a bet button that is enabled and highlighted in some way (e.g. flashing faster than other buttons)
*/
.betting_panel_IN_PLAY_FAVOURITE {
    
    z-index:1000;
    background: url("/resources/buttons/animated_bet_button_yellow_fast.gif") no-repeat;
    background-position: 45%;
	background-size: 175%;
    top: 0%;
    left: 0%;
}

.betting_panel_IN_PLAY_BETTING_STAGE_ACTIVE {
    
    background: url("http://localhost:2574/resources/buttons/.gif") no-repeat;
    z-index:1000;
        background: url("/resources/buttons/animated_bet_button_yellow_active.gif") no-repeat;
    background-position: 45%;
	background-size: 175%;
    top: 0%;
    left: 0%;
}

.betting_panel_UNDEFINED{
    display:none;
}


/* The following should probably not be here.  I think these are to do with the bet slider wiget*/
.bet_left {
	float: left;
	margin-top: 0px;
}
.bet_right {
	float: right;
	margin-right: -48px;
	margin-top: -18px !important;
}
.amount {
	border: 0;
	color: #D9D600;
	width: 25%;
	font-weight: bold;
	background: #000;
}
.place_bet_button {
	background: url("/resources/buttons/tick-icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	height: 16px;
	width: 16px;
	border: none;
	cursor: pointer;
	float: right;
	background-color: #000;
	border-radius: 3px;
	margin-top: 2%;
}
.cancel_place_bet_button {
	background: url("/resources/buttons/cancel-icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	height: 16px;
	width: 16px;
	border: none;
	cursor: pointer;
	float: left;
	background-color: #000;
	border-radius: 3px;
	margin-top: 2%;
}
.bet_payout_description {
	border: 1px solid #000;
	border-radius: 5px;
	float: left;
	margin-left: 9%;
	width: 90%;
	color: #D9D600;
	background: #000;
}
.bet_buttons {
	margin-top: -22px;
	position: absolute;
	width: 92%;
}

/* xxx Need to revisit these bet sliders - they were a failed implemnentation a bet slider widget*/
#hedgeem_bet_slider1{
    display:none;
}
#hedgeem_bet_slider2{
    display:none;
}
#hedgeem_bet_slider3{
    display:none;
}
#hedgeem_bet_slider4{
    display:none;
}