
body
{
    background:url("/resources/backgrounds/watermark_2.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.error_text
{
	 background: none repeat scroll 0 0 #214529;
    margin: 10% 35%;
    width: 400px;
    padding:15px;
    border-radius:15px;
    float:left;
}
.logo
{
	background: url("/resources/logos/logo_1.png") no-repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0);
    height: 30%;
    margin: 62px auto;
    padding: 0;
    position: absolute;
    width: 10%;
    z-index: 50;
}
.error_message
{
	width:235px;
	float:right;
	color:#f1f1f1;
}