
/*
    All Hand panels that are display are displayed in a container so you can re-position all of them
    left, right, up or down etc with one CSS change.
    */
#hand_panels_container
{
    position: absolute;
    width: 90%;
    height: 30%;
    margin: 0% 5% 0% 5%;
    top: 50%;
    padding: 0%;
    cursor: pointer;
    z-index: 20; 
    /*
    background-color: teal;
    right:0px;
    border-collapse: collapse;
    */
}

.hedgeem_control_hand_panel
{
    height: 100%;
    width: 100%;
    position: relative;
    float: left;
    top: 0%;
    left: 0%;
    margin: 0% 2% 0% 2%;
    padding: 0%;
    z-index: 20; 
    /*
    background-color: purple;
    border-style: solid;
    border-width: 0px;
    background-image:url('resources/hand_indicator_backgroud.png');
    background-size:100% 100%;
    background-repeat:no-repeat;
    background-position:0% 0%;
    right:0px;    border-collapse: collapse;    
    */
}

/*
 ID:   hedgeem_control_hand_panel_hand_1
 Only use this to override hand_panels_container
 Done here to 'offset' the top position of the
 hand panel to make it appear the HAND is dealt in 
 semi-circle to follow line of table
*/

.auto_div_hand_id_class
{
    float:left;
    height: 100%;
    width: 20%;
    margin: 0% 2% 0% 2%;
    
}

/*
 ID:  auto_div_hand1 or hedgeem_control_hand_panel_hand_1
 Only use this to override hand_panels_container
 Done here to 'offset' the top position of the
 hand panel to make it appear the HAND is dealt in 
 semi-circle to follow line of table
*/

#auto_div_hand_id1
{
    float:left;
    margin-top: 5%;
    /*
    background-color: Silver;
    */
}

#auto_div_hand_id2
{
    float:left;
    margin-top: 5%;
}



.card_left
{
    position: absolute;
    float: left;
    left: 10%;
    height: 50%;
    width: 50%;
    margin: 0%;
    padding: 0%;
    top: 0;
    z-index: 1;
    cursor: pointer;
    /*
    background-color: cyan;
    */
    
}
.card_left img
{
    position: absolute;
    float: left;
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
    z-index: 2;
    cursor: pointer;
    transform:rotate(-5deg);
	-ms-transform:rotate(-5deg); /* IE 9 */
	-webkit-transform:rotate(-5deg);

    /*
    background-color: orange;
    */
}

.dead_opacity
{   
    -moz-opacity: 0.3;
    opacity: .30;
    filter: alpha(opacity=30);
}
.card_right
{
    position: absolute;
    float: left;
    top: 0%;
    right: 10%;
    height: 50%;
    width: 50%;
    margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
    z-index: 2;
    cursor: pointer;
    transform:rotate(5deg);
	-ms-transform:rotate(5deg); /* IE 9 */
	-webkit-transform:rotate(5deg);
    /*
    background-color: olive;
    */
}

.card_right img
{
    position: absolute;
    float: left;
    right: 0%;
    height: 100%;
    width: 100%;
    margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
    z-index: 2;
    cursor: pointer;
    /*
    background-color: navy;
    */
}

#status_icons_container 
{
    position: absolute;
    float: left;
    top:45px;
    left: 0px;
    margin: 0% 5% 0% 5%;
    //padding: 5%;
    padding: 5px;
    margin-top: 5px;
    height: 30px;
    width: 90%;
    
    padding: 0px;
    z-index: 20; 
    /*    
    border-style: solid;
    border-width: 1px;
    background-color: cyan;
    right:0px;    
    border-collapse: collapse;    
    */
}

.hand_status_icon
{
    position: relative;
    /*background-color:orange; */
    top:0px;
    left: 0px;
    float: left;
    margin: 0px 0px 0px -10px;
    z-index: 3;
}
.icon_favourite
{
     /*Do not use this unless you specifcally need to style the 'favorite' icon
     See style 'hand_status_icon' that applies to all status icons */
}

.icon_cant_lose
{
     /*Do not use this unless you specifcally need to style the 'favorite' icon
     See style 'hand_status_icon' that applies to all status icons */
    //display:none;
}

.icon_best_value
{
     /*Do not use this unless you specifcally need to style the 'favorite' icon
     See style 'hand_status_icon' that applies to all status icons */
    //display:none;
}


.icon_winner
{
    top: 25%;
    height: 20%;
    width: 100%;
    float: left;
    margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
    z-index: 80;
    color: White;
    position: absolute;
    background-image:url('/resources/icon_winning_hand_indicator1.png');
    background-size: 100%;
    background-repeat:no-repeat;
    background-position:0% 0% 0% 0%;
    /*
    background-color:orange;
    float: left; 
    margin: 0px 0px 0px 0px;
    padding: 45px 0px 0px 0px;
    z-index: 3;
    position: absolute;
    */
}

.icon_dead
{
    top: 25%;
    height: 100%;
    width: 100%;
    float: left;
    margin: 0px 0px 0px 0%;
    padding: 0px 0px 0px 0%;
    z-index: 80;
    position: absolute;
    background-image:url('/resources/icons/icon_dead_hand_indicator.png');
    background-size: 100%;
    background-repeat:no-repeat;
    background-position:0% 0% 0% 0%;
    /*
    background-color:orange;
    */
    
}


.hedgeem_control_hand_panel_info_background
{
    top: 45%;
    height: 40%;
    width: 100%;
    float: left;
    margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
    z-index: 4;
    color: white;
    position: absolute;
    background-image:url('/resources/hand_indicator_backgroud.png');
    background-size:100% 100%;
    background-repeat:no-repeat;
    background-position:0% 0% 0% 0%;
    /*
    background-color:orange;
    */
   
}

.payoutdescription
{
    width: 90%;
    margin: 3% 5% 0% 5%;
    padding: 0%;
    text-align: center;
    font-size:120%;
    font-weight:normal;
    position: absolute;
    top: 0%;
    color: White;
    /*
    background-color: cyan;
    */
}

.payoutvalue
{
    width: 90%;
    margin: 2% 5% 0% 5%;
    padding: 0px 0px 0px 0px;
    text-align: center;
    font-size:120%;
    font-weight:normal;
    position: absolute;
    color: Yellow;
    top: 35%;
    /*
    background-color: olive;
    */
}

.previous_placed_bets_container
{
    top: 80%;
    left:-5%;
    width: 110%;    /* Deliberately wide, combined with -5 left above, this offsets and centralises */
    height: 30%;
    float: left;
    margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
    z-index: 30;
    position: absolute;
    background-repeat:no-repeat;
    background-position:0% 0% 0% 0%;
    /*
    background-image:url('/resources/hand_indicator_backgroud.png');
    background-color:yellow;  
    background-color:pink;
    */
    
}

.previous_placed_bet_for_any_stage
{
    top: 0%;
    width: 80%;
    font-size:90%;
    color:white;
    float: left;
    margin: 1% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
    z-index: 30;
    position: relative;
    
    
    /*
    background-image:url('/resources/chip_yellow.png');
    background-repeat:no-repeat;
    background-position:0% 0% 0% 0%;
    background-size: 10%;
    
    background-color:navy;
    
    height: 14px;
    width: 100%;
    float: left;
    font-size:8pt;
    color:white;
    margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 10%;
    z-index: 30;
    background-image:url('/resources/hand_indicator_backgroud.png');

        */
    
}

/*
.previous_placed_bet_for_Hole_stage {
    top: -0px;
    --color:brown;
}
.previous_placed_bet_for_Flop_stage {
    top: -30px;
    --color:orange;
}
.previous_placed_bet_for_Turn_stage {
    top: -60px;
    --color:red;
}
    http://learn.shayhowe.com/advanced-html-css/detailed-css-positioning
    */

.lost_bet {
    /*
        color: grey;
        */
    display: none;
}

/*When enabled this is a button that allows the player to cancel bets on a hand for the CURRENT betting stage.*/
.cancel_bet_button 
{
    position:absolute;
    z-index: 99;
    background-image:url('/resources/buttons/btn_cancel_bet_62x24.png');
    background-repeat:no-repeat;
    background-position:0% 0% 0% 0%;
    background-size: 100%;
    top: 0%;
    right:-40%;
    color:transparent; /*Commented to hide the 'Cancel' text that is returned.
    /*
    background-color:red;
    */
}

.secured_bet_button 
{
    position:absolute;
    z-index: 99;
    background-image:url('/resources/buttons/btn_secured_bet_62x24.png');
    background-repeat:no-repeat;
    background-position:0% 0% 0% 0%;
    top: 0%;
    right:-30%;
    background-size: 120%; /*Commented to hide the 'Secured' text that is returned.*/
    color:transparent;
    /*
    background-color:pink;
    */
}	