body
{
    background:url("/resources/backgrounds/watermark_2.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#table_background
{
	background: url("/resources/backgrounds/stand_alone_table_1_800x500.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    background-repeat:no-repeat;
    margin: 0px;
	padding: 0px;
    overflow:hidden;
	width: 800px;
	height:500px;
    }

#hedgeem_table_list_container
{
	position:absolute;
	top:50px;
	left:300px;
	--background: none repeat scroll 0 0 yellow;
    background:url(/resources/backgrounds/bg_lobby_table_list.png);
    background-repeat:no-repeat;
    border: 0px none #000000;
	margin: 0px;
	padding: 0px;
	overflow:hidden;
	height: 320px;
	width: 480px;
}


#wrapper
{
    background:url(/resources/backgrounds/carpet_background_800x600.png);
    position: relative;
    width: 100%;
    height: 100%;
    background-repeat:no-repeat;
    top: 0px;
    left: 0px;
    width:800px;
    height: 600px;
    margin: auto;
    border: 1px solid #000000; 
}

#lobby_hedgeem_table_list
{
	/*background: none repeat scroll 0 0 pink;     //border: 0px solid #ff0000;  
    --overflow:hidden; */
    background:url(/resources/backgrounds/bg_lobby_table_list.png);
    background-repeat:no-repeat;
	border: none;
	border-color: #FFFFFF;
	float: left;
	height: 20px; /*Has no value as table height goes automatically with data. */
	margin: 0px;
	padding: 0px;
	width: 65%;
	border-collapse: collapse;
	/*margin: 4px 0 0 3px; //  uncomment this to see background div */
}
.hdr_table_num
{
	--background-color: olive;
	border: 1px dotted #00ff00;
	float: left; 
	margin: 0px;
	padding: 0px;
	width: 65%;
}
.data_table_num
{
	--background-color: brown;
	border: 1px none #00ff00; 
	margin: 0px;
	padding: 0px;
	width: 100px;
}

.data_table_name
{
	--background-color: orange;
	border: 1px none #00ff00; 
	margin: 0px;
	padding: 10px;
	font-size: 14pt;
	width: 80%;
}

.data_table_action
{
	--background-color: orange;
	border: 0px none #00ff00; 
	margin: 0px;
	padding: 0px;
	font-size: 14pt;
	width: 100px;
}
.data_num_of_hands
{
	--background-color: cyan;
	border: 1px none #00ff00; 
	margin: 0px;
	padding: 0px;
	font-size: 14pt;
	width: 20px;
}

.data_table_seats
{
	--background-color: red;
	border: 1px none #00ff00;
	margin: 0px;
	padding: 0px;
	font-size: 14pt;
	width: 20px;
}

.data_table_jackpot_game
{
	--background-color: lime;
	border: 1px none #00ff00;
	margin: 0px;
	padding: 0px;
	font-size: 14pt;
	width: 20px;
}

.data_table_jackpot_fund
{
	--background-color: purple;
	border: 1px none #00ff00;
	margin: 0px;
	padding: 0px;
	font-size: 14pt;
	width: 20px;
}

.data_table_theme
{
	--background-color: navy;
	border: 1px none #00ff00;
	margin: 0px;
	padding: 0px;
	font-size: 14pt;
	width: 20px;
}


.int
{
	clear: both;
	height: 20px;
	width: 115px;
	border:none;
	color:#BBD801;
	text-align:center;
	background:#191919;
	font-weight:bold;
}

#btnLogout
{
	height: 30px;
	width: 80px;
	margin: 0px;
}
.btns
{
	background: none repeat scroll 0 0 #551E1E;
    border: medium none;
    border-radius: 6px;
    color: #FFFFFF;
    height: 25px;
    margin: 0;
    width: 80px;
    font-weight:bold;
}
.abc
{
	width: 100px;
}
.def
{
	width: 100px;
}
#Simulation
{
	text-decoration: none;
	color: Black;
}
#frm_server_manager
{
	text-decoration: none;
	color: Black;
	padding-left: 22px;
}
#newuser
{
	color: #000000 !important; /*    //margin: -204px 1px 0 5px !important; */
	text-decoration: none !important;
/*	float:left;
	width:100px;
	margin:70px 60px auto; */
}
#facebooklogout
{
  /*  margin: 110px auto; */
    width: 250px;
    text-align:center;
}
.img
{
	position:absolute;
	top:89%;
	left:2%;
	border:5px solid #000 !important;
}
#newuser1
{
	color: #000000 !important; /*   //margin: -173px 0 59px 119px !important; */
	width:100px;
	text-align:center;
	text-decoration: none !important;
	margin:0 auto;

}
#userdetails
{
	color: #97A068 !important; /*    //margin: -150px -72px 0px 12px !important; */
	text-decoration: none !important;
	margin-left:50px;
	width:250px; 
	font-weight:bold;
}
#fb_Login_Button
{
	/* //margin: -25px 0 0 78px !important; */
	text-decoration: none !important;
}
#deposit_update
{
	text-decoration: none;
	color: Black;
	margin: -26px 0px 0px 102px;
}
.Hedgeem_New_Table
{
	height: 21px;
	width: 126px;
}
@media only screen and(max-width:800px)
{
	.frm
	{
		background: none repeat scroll 0 0 #FFFFFF;
		border: 1px solid #000000;
		float: left !important;
		height: 600px; /*   //margin: 33px 0 0;  */
		padding: 16px 17px !important;
		width: 58%;
	}

}
#progressbar
{
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: grey;
        z-index:1001;
        -moz-opacity: 0.8;
        opacity:.80;
        filter: alpha(opacity=80);
        
}

#progressbar_content
{
     background:url(/resources/logos/logo_1.png);
    background-position:center;
    height: 100px;
    background-repeat:no-repeat;
    text-align:center;
    font-size:36px;
    font-weight:bolder;
    color:#3D6C1A;
}

/*   css style for progress bar used from - http://cssdeck.com/labs/nice-sparkle-progress-bars   */

.progressbar{
    position:relative;
    display:block;
    width:35%;
    height:20px;
    margin:40px auto;
    padding:10px 20px;
}
.progressbar:before{
    position:absolute;
    display:block;
    content:"";
    width:100%;
    height:18px;
    top:10px;
    left:0;
	-webkit-border-radius:20px;
    border-radius:20px;
    background:#222;
	-webkit-box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 0, 0.85);;
    box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 0, 0.85);
	border:1px solid rgba(0,0,0,0.8);
}
.bar {
	position:absolute;
	display:block;
	width:0px;
	height:16px;
	top:12px;
	left:1px;
	background: rgb(126,234,25);
	background: -moz-linear-gradient(top,  rgba(126,234,25,1) 0%, rgba(83,173,0,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(126,234,25,1)), color-stop(100%,rgba(83,173,0,1)));
	background: -webkit-linear-gradient(top,  rgba(126,234,25,1) 0%,rgba(83,173,0,1) 100%);
	background: -o-linear-gradient(top,  rgba(126,234,25,1) 0%,rgba(83,173,0,1) 100%);
	background: -ms-linear-gradient(top,  rgba(126,234,25,1) 0%,rgba(83,173,0,1) 100%);
	background: linear-gradient(to bottom,  rgba(126,234,25,1) 0%,rgba(83,173,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7eea19', endColorstr='#53ad00',GradientType=0 );
	-webkit-border-radius:16px;
	border-radius:16px;
	-webkit-box-shadow: 0px 0px 12px 0px rgba(126, 234, 25, 1),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.45),inset 1px 0px 0px 0px rgba(255, 255, 255, 0.25),inset -1px 0px 0px 0px rgba(255, 255, 255, 0.25);
	box-shadow: 0px 0px 12px 0px rgba(126, 234, 25, 1),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.45),inset 1px 0px 0px 0px rgba(255, 255, 255, 0.25),inset -1px 0px 0px 0px rgba(255, 255, 255, 0.25);
	overflow:hidden;
}

.bar:before {
	position:absolute;
	display:block;
	content:"";
	width:606px;
	height:150%;
	top:-25%;
	left:-25px;
	background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.35) 0%, rgba(255,255,255,0.01) 50%, rgba(255,255,255,0) 51%, rgba(255,255,255,0) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.35)), color-stop(50%,rgba(255,255,255,0.01)), color-stop(51%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0)));
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.35) 0%,rgba(255,255,255,0.01) 50%,rgba(255,255,255,0) 51%,rgba(255,255,255,0) 100%);
	background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.35) 0%,rgba(255,255,255,0.01) 50%,rgba(255,255,255,0) 51%,rgba(255,255,255,0) 100%);
	background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.35) 0%,rgba(255,255,255,0.01) 50%,rgba(255,255,255,0) 51%,rgba(255,255,255,0) 100%);
	background: radial-gradient(ellipse at center,  rgba(255,255,255,0.35) 0%,rgba(255,255,255,0.01) 50%,rgba(255,255,255,0) 51%,rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59ffffff', endColorstr='#00ffffff',GradientType=1 );
}
.bar:after {
	position:absolute;
	display:block;
	content:"";
	width:95%;
	height:16px;
	right:0;
	top:0;
	-webkit-border-radius: 0px 16px 16px 0px;
	border-radius: 0px 16px 16px 0px;
	background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.6) 98%, rgba(255,255,255,0) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(98%,rgba(255,255,255,0.6)), color-stop(100%,rgba(255,255,255,0)));
	background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.6) 98%,rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.6) 98%,rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.6) 98%,rgba(255,255,255,0) 100%);
	background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.6) 98%,rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );
}

@-webkit-keyframes sparkle {
	from {background-position: 0 0;}
	to {background-position: 0 -64px;}
}
@-moz-keyframes sparkle {
	from {background-position: 0 0;}
	to {background-position: 0 -64px;}
}
@-o-keyframes sparkle {
	from {background-position: 0 0;}
	to {background-position: 0 -64px;}
}
@keyframes sparkle {
	from {background-position: 0 0;}
	to {background-position: 0 -64px;}
}


/* Copied form HedgeEmTable.css*/

/*
There are Three 'wrapper' classes used to display the Hedgeem Table.  In order of hierachy these are:

    UpdatePanel1: Primarly used to support ajax updates so full screen is not used.  Is also used
                  to center everything.
    
    wrapper:      Not sure of purpose of this (is it redundant (where purpose is served by 
                  hedgeem_table_container?)

    hedgeem_table_container: This is the main Hedge'Em Table container.  All gui objects/controls are
                             placed inside this container are positioned in relation (relative to)
                             the parent container.
        
*/


/* 
    This is the 'top-most' container.  It is primarily used to support ajax so that the whole screen is not
    refreshed as each stage of the game progresses.  It is also used to set the overall position of the 
    displayed Hedge'Em table.
    See also: #wrapper and .hedgeem_table_container
*/
#UpdatePanel1
{
}

#wrapper
{
    background:url(/resources/backgrounds/carpet_background_800x600.png);
    position: relative;
    width: 100%;
    height: 100%;
    background-repeat:no-repeat;
    top: 0px;
    left: 0px;
    width:800px;
    height: 600px;
    margin: auto;
    border: 1px solid #000000;
    
    /*
    background-color: lime;
    padding: 0% 10% 0% 10%;
    */   
}

.hedgeem_table_container
{

    background:url(/resources/backgrounds/stand_alone_table_1_800x500.png);
    width: 800px;
    height: 600px;
    background-repeat:no-repeat;
    top: 0px;
    position: absolute;
    padding: 0px;
    z-index: 0; 
    /*    
    background-size:100% 100%;
    right:0px;    
    border-collapse: collapse;    
    position: relative;
    float: left;
    margin-left: 300px;
    margin-top: 150px;
    background-color: cyan;
    */
}

#hedgeem_table_info_bar_background
{

    background:url(/resources/backgrounds/info_bar_backgrond_800x80.png);
    width: 800px;
    height: 80px;
    background-repeat:no-repeat;
    bottom: 0px;
    position: absolute;
    padding: 0px;
    z-index: 0; 
    /*    
    background-color: cyan;
    background-size:100% 100%;
    right:0px;    
    border-collapse: collapse;    
    position: relative;
    float: left;
    margin-left: 300px;
    margin-top: 150px;
    background-color: cyan;
    */
}



/*
    All Hand panels that are display are displayed in a container so you can re-position all of them
    left, right, up or down etc with one CSS change.
    */

#table_logo {
    background:url(/resources/logos/logo_1.png);
    background-size: 100%;
    background-repeat:no-repeat;
    top: 25%;
    height:30%;
    width: 18%;
    margin: auto;
    position: relative;
    padding: 0px;
    z-index: 50; 
    /*
            background-color:red;
    width: 100px;
    height: 100px;
        */
}



#house_chips {
    background:url(/resources/backgrounds/house_chips.png);
    background-size:100% 100%;
    --background-color:yellow;
    width: 200px;
    height: 50px;
    float:left; 
    background-repeat:no-repeat;
    top: 0px;
    margin: 0% 62% 0% 38%;
    position: absolute;
    padding: 0px;
    z-index: 50; 
    /*
            background-color:red;
    width: 100px;
    height: 100px;
        */
}



#house_chips {
    background:url(/resources/backgrounds/house_chips.png);
    background-size:100% 100%;
    --background-color:yellow;
    width: 200px;
    height: 50px;
    float:left; 
    background-repeat:no-repeat;
    top: 0px;
    margin: 0% 62% 0% 38%;
    position: absolute;
    padding: 0px;
    z-index: 50; 
    /*
            background-color:red;
    width: 100px;
    height: 100px;
        */
}


#btn_deal_buttons_container
{
    position: absolute;
    top: 85%;
    left: 88%;
    margin: 0% 0% 0% 0%;
    padding: 0px 0px 0px 0px;
    height: 15%;
    width: 12%;
    z-index: 99; /*Keep this highest overwise hands_container, betting_container or other may prevent button from working.*/
    
     background-color: red;
     /*
   
        
    */
    

}

#btn_play_game
{
    background:url(/resources/backgrounds/house_chips.png);
    position: absolute;
    margin: 0px 0px 0px 5px;
    padding: 0px 0px 0px 0px;
    top: 0px;
    left: 0px;
    z-index: 99;
    background-color: palegreen;
    /*
        
    */
}

#social_media_container {
    display: none;  
    position: absolute;
    top: 40%;
    left:0%;
    height: 10%;
    width: 15%;
    /*
       background-color:red;
       display: none;
    */
    
}
.fb-like {
    margin: 3px, 0px, 3px, 0px; 
    height: 30%;
    width: 100%;
    z-index: 99;    
    /*
      background-color:cyan;
      background-color:red;
      display: none;
    */
    }

#twitter_container {
    margin: 3px, 0px, 3px, 0px; 
    padding: 3px, 0px, 3px, 0px; 
    height: 30%;
    width: 100%;
    z-index: 99;    
    /*
      background-color:cyan;
      background-color:red;
      display: none;
    */
    }